/* Media query para pantallas pequeñas (menos de 768px de ancho) */
@media screen and (max-width: 768px) {
  #portada {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("mundo_1.jpg");
    width: 100%;
    height: 100%;
    margin: 0%;
  }

  h1 {
    font-size: 2em;
    font-family: monospace;
    color: rgb(134, 175, 114);
  }

  .contenedor {
    align-self: auto;
  }
  #subtitulo {
    align-content: right;
    font-size: 1em;
    color: rgb(245, 240, 247);
    margin-bottom: 0.1em;
  }
  #inicio:hover {
    background-color: rgba(
      102,
      12,
      114,
      0.733
    ); /* Cambia el color a tu elección cuando el cursor esté sobre el botón */
    color: azure;
  }
  #inicio {
    background-color: black;
    color: white;
    font-size: 2em;
    padding: 0.9em;
    border: 3em;
    border-radius: 9%;
    border-color: white;
    cursor: pointer;
    margin-bottom: 1em;
    width: auto;
    height: auto;
  }

  #gifPaises {
    width: 20em; /* Cambia el valor a la anchura deseada */
  }

  #titulo {
    font-size: 8em; /* Tamaño de fuente más pequeño para pantallas medianas */
  }

  .card {
    background-color: black;
    font-size: auto;
    border-radius: 1.3em;
    justify-content: center;
    align-items: center;
    padding-top: 0.2em;
    padding-bottom: 0.1em;
    padding-left: 1.3em;
    padding-right: 1.3em;
    margin-bottom: 1em;
  }

  .card {
    width: 250px; /* Ancho de tarjeta normal para pantallas grandes */
    height: 400px; /* Altura de tarjeta normal para pantallas grandes */
    margin-left: 2em; /* Margen entre las tarjetas */
    margin-right: 2em;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    padding-top: 1em;
  }

  #limpiar {
    background-color: rgb(79, 201, 43);
    font-size: 4em;
    font-family: monospace;
    color: rgb(233, 233, 243);
    padding: 0.2em;
    margin-bottom: 0.5em;
    margin-top: 0.4em;
    text-align: center;
    border: 0.2em solid;
    border-radius: 0.3em;
    border-color: white;
    cursor: pointer;
    /* border-inline-start-color: rgba(133, 19, 123, 0.527); */
  }
  #limpiar:hover {
    background-color: rgba(173, 26, 137, 0.733);
    color: azure;
  }

  #textoIngresado {
    font-size: 1em;
    color: #000;
    font-family: monospace;
    padding: 0m;
    width: 10em;
  }

  #busquedaNombre {
    margin-top: 1.2em;
    padding-top: 0;
    font-size: 1.6em;
    font-weight: bold;
    color: rgb(3, 51, 10);
    font-family: monospace;
  }

  #contenedorDeFormulario {
    font-size: 2em; /* Tamaño del texto */
    font-family: monospace;
    background-color: white;
    text-align: center;
  }

  .selectorOpciones {
    margin-top: 1em;
    font-size: 2em;
    font-family: monospace;
    padding: 0.5em;
    display: flex;
  }
  /* Estilo para los selectores (dropdowns) */

  #continents,
  #asc-desc {
    font-size: 1.5em;
    font-family: monospace;
    color: #585656;
    margin-top: 1em;
    padding: 0.1em;
  }
  .contenedorSelectores {
    display: flex;
    flex-direction: column;
    background-color: rgb(213, 172, 223);
    border-radius: 0.3em;
    margin-top: 0.6em;
    margin-top: 1em;
    padding-top: 0.6em;
    padding-bottom: 0.4em;
  }

  #contenedorFunciones {
    background-color: white;
    text-align: center;
  }
  #porcent {
    font-family: monospace;
    font-size: 4em;
  }

  .pArea {
    font-family: monospace;
    font-size: 2em;
    font-weight: bold;
  }

  .card h2 {
    font-size: auto;
    font-family: monospace;
    color: rgb(148, 235, 50);
    padding-bottom: 0em;
    padding-top: 0;
    margin-bottom: 1em;
  }

  .card p {
    font-size: 20px;
    font-family: monospace;
    color: white;
  }

  .card img {
    width: 10em;
    height: 9em;
  }

  .marcoCartas {
    display: flex;
    /* Reduce la altura de la tarjeta */
    margin-bottom: 1em;
  }

  .claseContenedorDeCartas {
    display: flex;
    flex-wrap: wrap;
    flex-basis: auto;
    justify-content: space-between;
    align-items: center;
    columns: 2;
    flex-direction: row;
    background-color: rgb(193, 245, 178);
    text-align: center;
  }
}

@media (min-width: 260px) and (max-width: 560px) {
  #portada {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("mundo_1.jpg");
    width: 100%;
    height: 100%;
    margin: 0%;
  }

  h1 {
    font-size: 2em;
    font-family: monospace;
    color: rgb(243, 250, 244);
    margin-top: -20%;
  }
  .contenedor {
    align-self: auto;
  }
  #subtitulo {
    align-content: right;
    font-size: 2em;
    color: rgb(242, 238, 243);
    margin-top: 20%;
    margin-bottom: 0.1em;
  }
  #inicio:hover {
    background-color: rgba(
      102,
      12,
      114,
      0.733
    ); /* Cambia el color a tu elección cuando el cursor esté sobre el botón */
    color: azure;
  }
  #inicio {
    background-color: rgb(238, 232, 232);
    color: rgb(60, 29, 199);
    font-size: 2.6em;
    padding: 0.9em;
    border: 3em;
    border-radius: 9%;
    border-color: white;
    cursor: pointer;
    margin-bottom: 1em;
    width: auto;
    height: auto;
  }

  #gifPaises {
    width: 20em; /* Cambia el valor a la anchura deseada */
  }

  #mundito {
    width: 1.9em; /* Cambia el valor a la anchura deseada */
    height: auto;
    padding-top: 0.1em;
    padding-bottom: 0;
    padding-left: 0.1em;
    padding-right: 0.1em;
    margin-top: 0.6em;
  }

  #tituloPag2 {
    /* background-image: url('https://rea.ceibal.edu.uy/elp/el-mundo-del-globo-al-plano/map-of-the-world-2401458_1280.jpg'); */
    background-color: black;
    text-align: end;
    font-family: monospace;
    font-size: 1.6em;
    color: white;
    padding-top: 0.9em;
    padding-bottom: 1.1em;
    padding-right: 1.1em;
    text-align: right;
    margin-top: 0.1em;
  }

  #limpiar {
    background-color: rgb(79, 201, 43);
    font-size: 1.9em;
    font-family: monospace;
    color: rgb(233, 233, 243);
    padding: 0.2em;
    margin-bottom: 0.3em;
    margin-top: 0.2em;
    text-align: center;
    border: 0.16em solid;
    border-radius: 0.3em;
    border-color: white;
    cursor: pointer;
    /* border-inline-start-color: rgba(133, 19, 123, 0.527); */
  }
  #limpiar:hover {
    background-color: rgba(173, 26, 137, 0.733);
    color: azure;
  }

  #textoIngresado {
    font-size: 1em;
    color: #000;
    font-family: monospace;
    padding: 0.1em;
    width: 20em;
  }

  #busquedaNombre {
    margin-top: 1em;
    padding-top: 0.1em;
    font-size: 1.5em;
    font-weight: bold;
    color: black;
    font-family: monospace;
  }

  #contenedorDeFormulario {
    font-size: 2em; /* Tamaño del texto */
    font-family: monospace;
    background-color: white;
    text-align: center;
  }

  .selectorOpciones {
    margin-top: 1em;
    font-size: 1em;
    font-family: monospace;
    padding: 0.3em;
    display: flex;
  }
  /* Estilo para los selectores (dropdowns) */

  #continents,
  #asc-desc {
    font-size: 1.5em;
    font-family: monospace;
    color: #585656;
    margin-top: 0.3em;
    padding: 0.1em;
  }
  .contenedorSelectores {
    display: flex;
    background-color: rgb(213, 172, 223);
    border-radius: 0.3em;
    margin-top: 0.6em;
    margin-top: 1em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    justify-content: space-evenly;
    align-content: space-between;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;
  }

  #contenedorFunciones {
    background-color: white;
    text-align: center;
  }
  #porcent {
    font-family: monospace;
    font-size: 2em;
  }

  .pArea {
    font-family: monospace;
    font-size: 1.9em;
    font-weight: bold;
  }

  .card {
    width: 280px; /* Ancho de tarjeta normal para pantallas grandes */
    height: 420px; /* Altura de tarjeta normal para pantallas grandes */
  }

  .card {
    background-color: black;
    border-radius: 1.3em;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 0.2em;
    padding-bottom: 0.1em;
    padding-left: 1.3em;
    padding-right: 1.3em;
    margin-bottom: 1em;
  }

  .card h2 {
    font-size: 2em;
    font-family: monospace;
    color: rgb(148, 235, 50);
    padding-bottom: 0em;
    padding-top: 0em;
    margin-bottom: 1em;
  }

  .card p {
    font-size: 20px;
    font-family: monospace;
    color: white;
    padding-bottom: 0.1em;
    margin-bottom: 1em;
  }

  .card img {
    width: 8em;
    height: 7em;
    padding-bottom: 0.2em;
  }
  .marcoCartas {
    display: flex;
    /* Reduce la altura de la tarjeta */
    margin-bottom: 1em;
  }

  .claseContenedorDeCartas {
    display: flex;
    flex-wrap: wrap;
    flex-basis: auto;
    justify-content: space-around;
    flex-direction: row;
    background-color: rgb(193, 245, 178);
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
  }
}
@media (min-width: 760px) and (max-width: 900px) {
  #titulo {
    font-size: 6em; /* Tamaño de fuente más pequeño para pantallas medianas */
  }

  #limpiar {
    background-color: rgb(79, 201, 43);
    font-size: 1.9em;
    font-family: monospace;
    color: rgb(233, 233, 243);
    padding: 0.2em;
    margin-bottom: 0.3em;
    margin-top: 0.2em;
    text-align: center;
    border: 0.16em solid;
    border-radius: 0.3em;
    border-color: white;
    cursor: pointer;
    /* border-inline-start-color: rgba(133, 19, 123, 0.527); */
  }
  #limpiar:hover {
    background-color: rgba(173, 26, 137, 0.733);
    color: azure;
  }

  #textoIngresado {
    font-size: 1em;
    color: #000;
    font-family: monospace;
    padding: 0.1em;
    width: 20em;
  }

  #busquedaNombre {
    margin-top: 1em;
    padding-top: 0.1em;
    font-size: 1.5em;
    font-weight: bold;
    color: black;
    font-family: monospace;
  }

  #contenedorDeFormulario {
    font-size: 2em; /* Tamaño del texto */
    font-family: monospace;
    background-color: white;
    text-align: center;
  }

  .selectorOpciones {
    margin-top: 1em;
    font-size: 1em;
    font-family: monospace;
    padding: 0.3em;
    display: flex;
  }
  /* Estilo para los selectores (dropdowns) */

  #continents,
  #asc-desc {
    font-size: 1.5em;
    font-family: monospace;
    color: #585656;
    margin-top: 0.3em;
    padding: 0.1em;
  }
  .contenedorSelectores {
    display: flex;
    background-color: rgb(213, 172, 223);
    border-radius: 0.3em;
    margin-top: 0.6em;
    margin-top: 1em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    justify-content: space-evenly;
    align-content: space-between;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;
  }

  #contenedorFunciones {
    background-color: white;
    text-align: center;
  }
  #porcent {
    font-family: monospace;
    font-size: 2em;
  }

  .pArea {
    font-family: monospace;
    font-size: 1.9em;
    font-weight: bold;
  }

  .card {
    width: 280px; /* Ancho de tarjeta normal para pantallas grandes */
    height: 420px; /* Altura de tarjeta normal para pantallas grandes */
  }

  .card {
    background-color: black;
    border-radius: 1.3em;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 0.2em;
    padding-bottom: 0.1em;
    padding-left: 1.3em;
    padding-right: 1.3em;
    margin-bottom: 1em;
  }

  .card h2 {
    font-size: 2em;
    font-family: monospace;
    color: rgb(148, 235, 50);
    padding-bottom: 0em;
    padding-top: 0em;
    margin-bottom: 1em;
  }

  .card p {
    font-size: 20px;
    font-family: monospace;
    color: white;
    padding-bottom: 0.1em;
    margin-bottom: 1em;
  }

  .card img {
    width: 8em;
    height: 7em;
    padding-bottom: 0.2em;
  }
  .marcoCartas {
    display: flex;
    /* Reduce la altura de la tarjeta */
    margin-bottom: 1em;
  }

  .claseContenedorDeCartas {
    display: flex;
    flex-wrap: wrap;
    flex-basis: auto;
    justify-content: space-around;
    flex-direction: row;
    background-color: rgb(193, 245, 178);
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
  }
}

@media (min-width: 910px) {
  /* Estilos para tamaños de pantalla grandes (por defecto) */

  .card {
    width: 200px; /* Ancho de tarjeta normal para pantallas grandes */
    height: 300px; /* Altura de tarjeta normal para pantallas grandes */
  }

  /* Media query para pantallas medianas (de 768px a 1024px de ancho) */

  #limpiar {
    background-color: rgb(79, 201, 43);
    font-size: 1.9em;
    font-family: monospace;
    color: rgb(233, 233, 243);
    padding: 0.2em;
    margin-bottom: 0.3em;
    margin-top: 0.2em;
    text-align: center;
    border: 0.16em solid;
    border-radius: 0.3em;
    border-color: white;
    cursor: pointer;
    /* border-inline-start-color: rgba(133, 19, 123, 0.527); */
  }
  #limpiar:hover {
    background-color: rgba(173, 26, 137, 0.733);
    color: azure;
  }

  #textoIngresado {
    font-size: 0.9em;
    color: #000;
    font-family: monospace;
    padding: 0.1em;
    width: 16em;
  }

  #busquedaNombre {
    margin-top: 1em;
    padding-top: 0.1em;
    font-size: 1em;
    font-weight: bold;
    color: black;
    font-family: monospace;
  }

  #contenedorDeFormulario {
    font-size: 1.1em; /* Tamaño del texto */
    font-family: monospace;
    background-color: white;
    text-align: center;
  }

  .selectorOpciones {
    margin-top: 1em;
    font-size: 1em;
    font-family: monospace;
    padding: 0.3em;
    display: flexbox;
  }
  .selectorOpciones1 {
    margin-top: 1em;
    font-size: 1em;
    font-family: monospace;
    padding: 0.3em;
    display: flexbox;
  }
  /* Estilo para los selectores (dropdowns) */

  #continents,
  #asc-desc {
    font-size: 0.9em;
    font-family: monospace;
    color: #585656;
    margin-top: 1em;
    padding: 0.1em;
  }
  .contenedorSelectores {
    background-color: rgb(213, 172, 223);
    border-radius: 0.3em;
    margin-top: 0.6em;
    margin-top: 1em;
    padding-top: 0.6em;
    padding-bottom: 0.4em;
  }

  #contenedorFunciones {
    background-color: white;
    text-align: center;
  }
  #porcent {
    font-family: monospace;
    font-size: 1.1em;
  }

  .pArea {
    font-family: monospace;
    font-size: 1.1em;
    font-weight: bold;
  }

  .card {
    background-color: black;
    font-size: auto;
    border-radius: 1.3em;
    justify-content: center;
    align-items: center;
    padding-top: 0.2em;
    padding-bottom: 0.1em;
    padding-left: 1.3em;
    padding-right: 1.3em;
    margin-bottom: 1em;
  }

  .card h2 {
    font-size: auto;
    font-family: monospace;
    color: rgb(148, 235, 50);
    padding-bottom: 0em;
    padding-top: 0;
    margin-bottom: 1em;
  }

  .card p {
    font-size: auto;
    font-family: monospace;
    color: white;
    padding-bottom: 0.1em;
    margin-bottom: 1em;
  }

  .card img {
    max-width: 4em;
    height: 3em;
    padding-bottom: 0.1em;
  }

  .marcoCartas {
    display: flex;
    /* Reduce la altura de la tarjeta */
    margin-bottom: 1em;
  }

  .claseContenedorDeCartas {
    display: flex;
    flex-wrap: wrap;
    flex-basis: auto;
    justify-content: space-between;
    align-items: center;
    columns: 4;
    flex-direction: row;
    background-color: rgb(193, 245, 178);
    text-align: center;
  }

  footer {
    font-size: 1em;
    color: white; /* Cambia el color del texto dentro de <em> */
    background-color: black;
    text-align: left;
    padding: 1em;
    bottom: 0px;
    width: 100%;
  }

  #portada {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("mundo_1.jpg");
    width: 100%;
    height: 100%;
    margin: 0%;
  }

  h1 {
    font-size: 1em;
    font-family: monospace;
    color: rgb(243, 250, 244);
    margin-top: -20%;
  }
  .contenedor {
    align-self: auto;
  }
  #subtitulo {
    align-content: right;
    font-size: 2em;
    color: rgb(242, 238, 243);
    margin-top: 20%;
    margin-bottom: 0.1em;
  }
  #inicio:hover {
    background-color: rgba(
      102,
      12,
      114,
      0.733
    ); /* Cambia el color a tu elección cuando el cursor esté sobre el botón */
    color: azure;
  }
  #inicio {
    background-color: rgb(192, 53, 53);
    color: rgb(60, 29, 199);
    font-size: 2.6em;
    padding: 0.9em;
    border: 3em;
    border-radius: 9%;
    border-color: white;
    cursor: pointer;
    margin-bottom: 1em;
    width: auto;
    height: auto;
  }

  #gifPaises {
    width: 20em; /* Cambia el valor a la anchura deseada */
  }

  #mundito {
    width: 1.9em; /* Cambia el valor a la anchura deseada */
    height: auto;
    padding-top: 0.1em;
    padding-bottom: 0;
    padding-left: 0.1em;
    padding-right: 0.1em;
    margin-top: 0.6em;
  }

  #tituloPag2 {
    /* background-image: url('https://rea.ceibal.edu.uy/elp/el-mundo-del-globo-al-plano/map-of-the-world-2401458_1280.jpg'); */
    background-color: black;
    text-align: end;
    font-family: monospace;
    font-size: 1.6em;
    color: white;
    padding-top: 0.9em;
    padding-bottom: 1.1em;
    padding-right: 1.1em;
    text-align: right;
    margin-top: 0.1em;
  }
}

.cardLi {
  color: black;
}
select {
  border-radius: 1px solid grey;
}

header {
  /* Estilos para elementos <header> */
  font-size: 0.88em;
  background-color: rgb(193, 245, 178);
  color: white;
  padding: 0.3em;
  text-align: center;
}

/* portada */

#portada {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("mundo_1.jpg");
  width: 100%;
  height: 100%;
  margin: 0%;
}

h1 {
  font-size: 3.6em;
  font-family: monospace;
  color: rgb(243, 250, 244);
  margin-top: -20%;
}
.contenedor {
  align-self: auto;
}
#subtitulo {
  align-content: right;
  font-size: 2em;
  color: rgb(242, 238, 243);
  margin-top: 20%;
  margin-bottom: 0.1em;
}
#inicio:hover {
  background-color: rgba(
    102,
    12,
    114,
    0.733
  ); /* Cambia el color a tu elección cuando el cursor esté sobre el botón */
  color: azure;
}
#inicio {
  background-color: rgb(238, 232, 232);
  color: rgb(60, 29, 199);
  font-size: 2.6em;
  padding: 0.9em;
  border: 3em;
  border-radius: 9%;
  border-color: white;
  cursor: pointer;
  margin-bottom: 1em;
  width: auto;
  height: auto;
}

#gifPaises {
  width: 20em; /* Cambia el valor a la anchura deseada */
}

#mundito {
  width: 1.9em; /* Cambia el valor a la anchura deseada */
  height: auto;
  padding-top: 0.1em;
  padding-bottom: 0;
  padding-left: 0.1em;
  padding-right: 0.1em;
  margin-top: 0.6em;
}

#tituloPag2 {
  /* background-image: url('https://rea.ceibal.edu.uy/elp/el-mundo-del-globo-al-plano/map-of-the-world-2401458_1280.jpg'); */
  background-color: black;
  text-align: end;
  font-family: monospace;
  font-size: 1.6em;
  color: white;
  padding-top: 0.9em;
  padding-bottom: 1.1em;
  padding-right: 1.1em;
  text-align: right;
  margin-top: 0.1em;
}
