
#portada {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#tituloPag2{

background-image: url('https://rea.ceibal.edu.uy/elp/el-mundo-del-globo-al-plano/map-of-the-world-2401458_1280.jpg');

 
}

#titulo {
    text-align: center;
    
  }
  
  #subtitulo {
    text-align: center;
  }

  #inicio {
    background-color: rgb(173, 51, 163);
      color: white;
      font-size: 20px;
      padding: 9px;
      border: 3 px solid;
      cursor: pointer;
      text-align: center;
    }
    
    #gifPaises {
        margin: 0 auto;
        width: 300px; /* Cambia el valor a la anchura deseada */
        height: auto; /* Mantén la relación de aspecto original */
      }
      


  #Limpiar {
    background-color: rgb(84, 184, 159);
    color: white;
    font-size: 20px;
    padding: 10px;
    margin: 0 auto;
    border: 0px solid;
    cursor: pointer;
    
  }
  

  #contenedorDeFiltrado {
    font-size: 16px; /* Tamaño del texto */
    font-family:  monospace;
    background-image: linear-gradient(to bottom, #f1ece7c9, #d9e78ace);    text-align: center; /* Alinea el texto al centro */
 
  }
  #titulo{
    font-size: 16px; /* Tamaño del texto */
    font-family:  monospace;

  }
  #contenedorDeFormulario {
    font-size: 16px; /* Tamaño del texto */
    font-family:  monospace;
    background-image: linear-gradient(to bottom, #f1ece7c9, #d9e78ace);    text-align: center; /* Alinea el texto al centro */
 
  }
  #contenedorDeFiltrado {
   /* position: relative; Para que el height: 100% funcione correctamente */
    /*min-height:;  Establece la altura mínima al 100% del viewport */
    background-color: #b44545; /* Cambia el color de fondo según tus preferencias */
  
  }

  
  .contenedorDeCartas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Espaciado uniforme entre las tarjetas en la fila */ 
  columns: 5;
  flex-direction: column;
  align-items: center;
 
}
.card {
    width: 150px; /* Define el ancho de cada tarjeta (ajustable según las columnas deseadas) */
  margin-bottom: 5px;
  height: 250px; /* Reduce la altura de la tarjeta */
  border: 1px solid #f4f6f8;
  background-color: #99c0ee;
  padding: 10px;
  margin: 10px;
  border-radius: 33px;
  text-align: center;
  justify-content: center;
  align-items: center;

}
  
  .card h2 {
    font-size: 18px;
    margin-bottom: 5px;

  }
  
  .card p {
    font-size: 14px;
    
  }
  
  .card img {
    max-width: 90px;
    height: 60px;
    
  }

  .marcoCartas {
    width: 200px; /* Define el ancho de cada tarjeta (ajustable según las columnas deseadas) */
    margin-bottom: 5px;
    margin-top: 50px;
    height: 300px; /* Reduce la altura de la tarjeta */
    border: 1px solid #e4e40c;
    background-color: #f7ed67;
    padding: 5px 3px 5px 5px;
    text-align: center;
  }
  .piePagina {
    background-image: linear-gradient(to bottom, #ebafe6c9, #7e167ece);    text-align: right; /* Alinea el texto al centro */
    padding: 20px; /* Añade espaciado interior */
    font-family:  monospace;
    position: absolute; /* Coloca el pie de página en la parte inferior */
    bottom: 0; /* Alinea el pie de página en la parte inferior */
    width: 100%; /* Ancho del pie de página igual al ancho de la ventana */
    
  }
  
  .piePagina em {
    font-size: x-large;
    color: rgb(53, 4, 42); /* Cambia el color del texto dentro de <em> */
   
  }

  .claseContenedorDeCartas {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between; 
    columns: 5;   
    flex-direction: row;
    
    
  }
